.castList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.castItem {
  flex-basis: calc((100% - 40px) / 5);
  border: 1px solid white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.photo {
  width: 150px;
  margin-bottom: 10px;
}

.text {
  color: white;
}
